<h1>Employment History for <%= "#{@user.fname} #{@user.lname}" %> </h1>

<!-- Employment Status -->
<h2>
  Current Status:
  <% if @user.status["seeking"] == "true" %>
    <%= "Looking" %>
  <% else %>
    <%= "Not Looking" %>
    <!-- reason for not looking -->
    - <%= @user.status["reason"] %>
  <% end %>
</h2>


<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Job Title</th>
      <th>Type of Role</th>
      <th>Nature of Role</th>
      <th>Type of Organization</th>
      <th>Source of Offer</th>

    </tr>
  </thead>

  <tbody>
    <% @employments.each do |employment| %>
      <tr>
        <td><%= employment.company.name %></td>
        <td><%= employment.jobtitle %></td>
        <td><%= employment.roletype %></td>
        <td><%= employment.rolenature %></td>
        <td><%= employment.company.orgtype %></td>
        <td><%= employment.rolesource %></td>

      <tr>
    <% end %>
  </tbody>
</table>
