<h1> <%= "#{@user.fname} #{@user.lname}" %> </h1>


<!-- Basic Info: Start -->
<p>Name: <%= @user.fname %> <%= @user.lname %></p>
<p>Email: <%= @user.email %></p>
<p>Slack: <%#= needs to be filled in %></p>
<p>Location: <%= @user.location %></p>
<p>Social links</p>
<p>Github: <%= @user.email %></p>
<p>LinkedIn: <%= @user.email %></p>
<p>Portfolio Site: <%= @user.email %></p>
<p>Status:
  <% if @user.status["seeking"] == "true" %>
    <%= "Looking" %>
  <% else %>
    <%= "Not Looking" %> (<%= @user.status["reason"] %>)
  <% end %></p>
<!-- Basic Info: End -->

<%# Edit Profile Link %>
<div style="width:100px;border:1px solid;">
<% if (current_user.admin || @user == current_user)  %>
 <%= link_to "Edit Profile", edit_user_path(@user) %>
<% end %></div> <hr>




<table border=1>
  <thead>
    <tr>
      <th>Company</th>
      <th>Job Title</th>
      <th>Type of Role</th>
      <th>Nature of Role</th>
      <th>Type of Organization</th>
      <th>Source of Offer</th>
      <th>Salary</th>
      <th>Begin</th>
      <th>End</th>

    </tr>
  </thead>

  <tbody>
    <% @employments.each do |employment| %>
      <tr>
        <td><%= employment.company.name %></td>
        <td><%= employment.jobtitle %></td>
        <td><%= employment.roletype %></td>
        <td><%= employment.rolenature %></td>
        <td><%= employment.company.orgtype %></td>
        <td><%= employment.rolesource %></td>
        <td><%= employment.salary %></td>
        <td><%= employment.start_date %></td>
        <td><%= if !employment.end_date.nil?
          employment.end_date
        end %></td>

      <tr>
    <% end %>
  </tbody>
</table>
