
<h1>Welcome to Wynworld Mock, <%= current_user.fname %>! </h1>
  <%# Basic info on role (ie Student or Admin)
  and Cohort %>
    <%# @role %>
    <%# @cohortName %>



  <%= image_tag("http://previews.123rf.com/images/millisenta/millisenta1101/millisenta110100062/8754228-street-map-of-a-generic-city-Stock-Vector.jpg", height: '320') %><br>
  - <%= link_to "WynAlums", user_index_path %>
    <%= link_to "Cohorts", cohort_index_path %>
  - <%= link_to "Search for an Alumni", search_path %><br>

  - View Jobs (stretch goal)<br>
