
<h1>Welcome to Wynworld, <%= current_user.fname %>! </h1>

<!--  map (initial) -->
    <div id="map">
   </div>
<!-- end map -->




<!-- search form -->
<%= render partial: "search/index" %>
<div id="search_results"></div>


<!-- links -->
<br>
<% if !@user.admin %>
  <%= link_to "View Me", ind_emp_path(@user) %> |
<% end %>
<%= link_to "View WynAlums List", user_index_path %> |
<%= link_to "View WynAlumns by Cohort", cohort_index_path %> |
<%= link_to "Employers", companies_path %><br><br>

<% if !@user.admin %>
  <h2>Your Cohort</h2>
  <% @user.cohort.users.each do |user| %>
    <%= user.fname %>
    <%= user.lname %><br>

    <% end %>
<% end %>



<!-- Mapping -->
<script type="text/javascript">
$(function() {


 var map = L.map('map').setView([38.7006009, -96.5933281], 4);
 L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {minZoom: 4}).addTo(map);

  <% @company.each do |company| %>
    <% if !company.longitude.nil? %>
      L.marker([<%= company.latitude %>, <%= company.longitude %>]).addTo(map)
        <% marker_info = "#{company.name} #{company.latitude} #{company.longitude} " %>
          <% unless company.users.empty? %>
            <% company.users.each do |user| %>
              <% marker_info << " " << user.fname << " " << user.lname %>
            <% end %>
        <% end %>
        .bindPopup('<%= marker_info %>')
    <% end %>
    console.log('<%= marker_info %>');

  <% end %>


});
</script>
