
<h1>Welcome to Wynworld,
  <%= current_user.fname %>!
</h1>

<!--  map (initial) -->
<div id="map"></div>
<!-- end map -->

<div class="dash-menu">
  <!-- search form -->
  <div class="left">
  <%= render partial: "search/index" %>
  <div id="search_results"></div>
  </div>


  <!-- links -->
  <div class="right">
  <% if !current_user.admin %>
  <%= button_to "View Me", user_path(current_user), :class => "menu-btn", :method => :get%>
  <% end %>
  <%= button_to "View WynAlums List", user_index_path, :class => "menu-btn", :method => :get%>
  <%= button_to "View WynAlumns by Cohort", cohort_index_path, :class => "menu-btn", :method => :get%>
  <%= button_to "Employers", companies_path, :class => "menu-btn", :method => :get%><br>
</div>
</div>



<h2><%= @table_label %></h2>
<table class="dash-cohort-table">
  <thead>
    <th></th>
    <th>Name</th>
    <th>Currently Working At</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <tr><td><%= image_tag(user.avatar_url(:sm_thumb), :size => '36x36')%></td>
      <td><%= link_to "#{user.fname} #{user.lname}", user_path(user) %></td>
      <td>
        <% unless user.employments.empty? %>
          <%= user.employments.first.company.name %>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>


  <script type="text/javascript">
  $(function () {

    var map = L.map('map').setView([38.7006009, -96.5933281], 4);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {minZoom: 4}).addTo(map);

    <% @users.each do |user| %>
      <% unless user.employments.empty? %>
        <% if !user.employments.first.company.longitude.nil? %>
          L.marker([<%= user.employments.first.company.latitude %>, <%= user.employments.first.company.longitude %>]).addTo(map)
          <% marker_info = "#{user.employments.first.company.name} " %>
          <% marker_info << "#{user.employments.first.user.fname} " %>
          <% marker_info << "#{user.employments.first.user.lname} " %>

          .bindPopup('<%= marker_info %>')
        <% end %>
          console.log('<%= marker_info %>');
    <% end %>
    <% end %>
  });
</script>
