
<h1>Welcome to Wynworld, <%= current_user.fname %>! </h1>


<!--  map (initial) -->
    <div id="map">
   </div>
<!-- end map -->

<!--  map (after) -->
    <!-- <div id="map2">
   </div> -->
<!-- end map -->



<!-- search form -->
<%= render partial: "search/index" %>
<div id="search_results"></div>


<!-- links -->
<br>
<% if !@user.admin %>
  <%= link_to "View Me", ind_emp_path(@user) %> |
<% end %>
<%= link_to "View WynAlums List", user_index_path %> |
<%= link_to "View WynAlumns by Cohort", cohort_index_path %> |
<%= link_to "Employers", companies_path %><br><br>





<!-- Another JQuery points to UserController#mapper -->
<script type="text/javascript">
$(function() {

  $("#mapPinPush").click(function(event) {
      event.preventDefault();
      $.ajax({
        url: "/user/mapper.js",
        // success: function( data ) {
        //     var filtered_data = $(data).filter("#user_data_for_map").prepend("<h2>Here is the data</h2>");
        //     $( "div" ).html( filtered_data );
        // }
      });
    });
});
</script>

<script>
 var map = L.map('map').setView([38.7006009, -96.5933281], 4);
 L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png',{minZoom:4}).addTo(map);
 <%#@user.each do |user|%>

  L.marker([<%=@germ.latitude%>, <%=@germ.longitude%>]).addTo(map)
  <%#end%>
</script>
