
<h1>Welcome to Mock Wynworld, <%= current_user.fname %>! </h1>
  <%# Basic info on role (ie Student or Admin)
  and Cohort %>
    <%# @role %>
    <%# @cohortName %>



<%= image_tag("http://previews.123rf.com/images/millisenta/millisenta1101/millisenta110100062/8754228-street-map-of-a-generic-city-Stock-Vector.jpg", height: '320') %><br>
    <%= link_to "WynAlums", user_index_path %> |
    <%= link_to "Cohorts", cohort_index_path %> |
    <%= link_to "Companies Where We work", companies_path %><br><br>

<%= link_to "Populate Map", root_path, id: "mapPinPush" %><Br><br>


<%= render partial: "search/index" %><Br>

View Jobs (stretch goal)<br>


<!-- JQuery -->
<script type="text/javascript">
$(function() {

  $("#mapPinPush").mouseover(function() {

      $.ajax({
        url: "/user/index",
        data: {
          q: "calculus"
        },
        success: function( data ) {
            var filtered_data = $(data).filter("#user_data_for_map").prepend("<h2>Here is the data</h2>");
            $( "#mapPinPush" ).html( filtered_data );
        }
      });
    });
});
</script>
