
<% if current_user.role == "admin" %>
  <%= "I am admin"  %>
<% elsif current_user.role == "student" %>
  <%=  "I am student" %>
<% end %>

<h1>Welcome to Wynworld <%= current_user.fname %>

<h2>Here is a basic menu:</h2>
  - <%= link_to "View A Cohort", cohort_index_path %><br>
  - <%= link_to "Search for an Alumni", search_path %><br>
  - View the current Wynworld map<br>
  - View Jobs (stretch goal)<br>
