
<h1>Welcome to Wynworld, <%= current_user.fname %>! </h1>
  <%# Basic info on role (ie Student or Admin)
  and Cohort %>
    <%# @role %>
    <%# @cohortName %>

<!--  map (initial) -->
    <div id="map">
   </div>
<!-- end map -->

<!--  map (after) -->
    <div id="map2">
   </div>
<!-- end map -->



<!-- links to other pages, for students consumption -->
Students can visit these links -->:
<%= link_to "WynAlums", user_index_path %> |
<%= link_to "Cohorts", cohort_index_path %> |
<%= link_to "Employers", companies_path %><br><br>

<!-- links to other pages, for admin  consumption -->
Admins can visit these links -->:
<%= link_to "Placement Stats by Cohort", cohort_list_path %> |
<%= link_to "Placement Stats by Individual", ind_list_path %> <Br><Br>


<!-- an Ajax call to get user data-->
<%#= link_to "Populate Map (Click Me)", root_path, id: "mapPinPush" %>

<!-- on page javascript to manipualte mpa -->
<%= link_to "Populate Map", root_path, id: "maptestlink" %>


<!-- empty div for contents of ajax call -->
<div></div>

<!-- the search form --><br>
<%= render partial: "search/index" %>

<!-- stretch goal - the jobs board -->



<!-- JQuery -->
<!-- <script type="text/javascript">
$(function() {

  $("#mapPinPush").click(function(event) {
      event.preventDefault();
      $.ajax({
        url: "/user/index",
        success: function( data ) {
            var filtered_data = $(data).filter("#user_data_for_map").prepend("<h2>Here is the data</h2>");
            $( "div" ).html( filtered_data );
        }
      });
    });
});
</script> -->

<!-- Another JQuery points to UserController#mapper -->
<script type="text/javascript">
$(function() {

  $("#mapPinPush").click(function(event) {
      event.preventDefault();
      $.ajax({
        url: "/user/mapper.js",
        // success: function( data ) {
        //     var filtered_data = $(data).filter("#user_data_for_map").prepend("<h2>Here is the data</h2>");
        //     $( "div" ).html( filtered_data );
        // }
      });
    });
});
</script>

<script>
 var map = L.map('map').setView([38.7006009, -96.5933281], 3);
 L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);
 // L.marker([40.7364586, -74.0454719]).addTo(map)
 // L.marker([25.7822569, -80.3711658]).addTo(map)
</script>


<script>
$(function() {

  $("#maptestlink").click(function(event) {
      event.preventDefault();

      // $.ajax({
      //   url: "/user/mapper.js",
      //   });
      //
      var coordinates = [];
      <%@user.each do |user|%>
       L.marker([<%=user.latitude%>, <%=user.longitude%>]).addTo(map)
       <%end%>


    });
});
</script>
