<h1>Welcome to Wynworld,
  <%= current_user.fname %>!
</h1>

<!--  map (initial) -->
<div id="map"></div>
<!-- end map -->

<div class="dash-menu">
  <!-- search form -->
  <div class="left">
  <%= render partial: "search/index" %>
  </div>
  <!-- links -->
  <div class="right">
  <% if !@user.admin %>
  <%= button_to "View Me", user_path(@user), :class => "menu-btn", :method => :get%>
  <% end %>
  <%= button_to "View WynAlums List", user_index_path, :class => "menu-btn", :method => :get%>
  <%= button_to "View WynAlumns by Cohort", cohort_index_path, :class => "menu-btn", :method => :get%>
  <%= button_to "Employers", companies_path, :class => "menu-btn", :method => :get%><br>
</div>
</div>
<% if !@user.admin %>
<h2>My Cohort</h2>
<table class="dash-cohort-table">
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Currently Working At</th>
  </thead>

  <tbody>
    <% @user.cohort.users.each do |user| %>
    <tr>
      <td><%= link_to "#{user.fname} #{user.lname}", user_path(user) %></td>
      <td><%= user.email %></td>
      <td>
        <% unless user.employments.empty? %>
        <%= user.employments.last.company.name %>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>

  <% end %>

  <!-- Mapping -->
  <script type="text/javascript">
    $(function () {

      var map = L.map('map')
        .setView([38.7006009, -96.5933281], 4);
      L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        minZoom: 4
      })
        .addTo(map);

      <% @company.each do |company| %> <% if !company.longitude.nil? %>
      L.marker([<%= company.latitude %>, <%= company.longitude %>])
        .addTo(map) <% marker_info = "#{company.name} " %> <% unless company.users.empty? %> <% company.users.each do |user| %> <% marker_info << " " << user.fname << " " << user.lname %> <% end %> <% end %>
        .bindPopup('<%= marker_info %>') <% end %>
      console.log('<%= marker_info %>');

      <% end %>

    });
  </script>
