<% provide(:title, 'All users') %>
<h1>All users</h1>

      <p>
       <form>
         <legend>Search</legend>
         <div class='col-xs-4'>
             <input type='text' class='form-control' value='<%= params[:keyword] %>' name='keyword' placeholder='Keyword' >
         </div>
       </form>
     </p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Email</th>
      <th>Cohort</th>
      <th>Currently Working At</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.fname, user_path(user) %></td>
        <td><%= user.location %></td>
        <td><%= user.email %></td>
        <td><%= user.cohort.name %></td>
        <td>
          <% unless user.employments.empty? %>
           <%= user.employments.last.company.name %>
           <% end %>

        <td><%#= link_to 'Show', user %></td>
        <td><%#= link_to 'Edit', edit_user_path(user) %></td>
        <td><%#= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= will_paginate %>
