<h1>
  <%= "#{@user.fname} #{@user.lname}" %>
</h1>
<div class="profile-stat">
  <!-- Basic Info: Start -->
  <div class="basic-stat">
    <h2>Contact Info</h2>
  <p>Name:
    <%= @user.fname %>
    <%= @user.lname %></p>
  <p>Email:
    <%= mail_to @user.email %></p>
  <p>Location:
    <%= @user.location %></p>
  <p>Status:
    <%# if @user.status["seeking"] == "true" %>
    <%#= "Looking" %>
    <%# else %>
    <%#= "Not Looking" %>
    (<%#= @user.status["reason"] %>)
    <%# end %></p>
    </div>
    <!-- Social Info: End -->
    <div class="profile-social">
      <h2>Social links</h2>
    <p>Github:
      <%= link_to @user.Social_links["github"],@user.Social_links["github"]  %></p>
    <p>LinkedIn:
      <%= link_to @user.Social_links["linkedin"], @user.Social_links["linkedin"] %></p>
    <p>Portfolio Site:
      <%= @user.Social_links["portfolio"] %></p>
    <p>Slack:
      <%= @user.Social_links["slack"] %></p>
    </div>


    <!-- Profile pic -->
    <div class="profile-pic">
      <%# Edit Profile Link %>
      <!-- <div "class="profile-edit"> -->
      <% if (current_user.admin || @user == current_user)  %>
      <%= link_to "EDIT", edit_user_path(@user) %>
      <% end %>
      <!-- </div> -->
      <hr>
      <%= image_tag @user.picurl, size: "250", class: "img-cir" %>

    </div>

  </div>
</div>
<!-- Basic Info: End -->
<br>

<%# Job History %>
<div class="profile-hist">
<table class="profile-hist-table">
  <thead>
    <tr>
      <th>Company</th>
      <th>Job Title</th>
      <th>Type of Role</th>
      <th>Nature of Role</th>
      <th>Type of Organization</th>
      <th>Source of Offer</th>
      <th>Salary</th>
      <th>Begin</th>
      <th>End</th>

    </tr>
  </thead>

  <tbody>
    <% @employments.each do |employment| %>
    <tr>
      <td><%= employment.company.name %></td>
      <td><%= employment.jobtitle %></td>
      <td><%= employment.roletype %></td>
      <td><%= employment.rolenature %></td>
      <td><%= employment.company.orgtype %></td>
      <td><%= employment.rolesource %></td>
      <td><%= employment.salary %></td>
      <td><%= employment.start_date %></td>
      <td><%= if !employment.end_date.nil?
          employment.end_date
        end %></td>

      <tr>
        <% end %>
      </tbody>
    </table>
  </div>
