<p id="notice"><%= notice %></p>


<h1>Hiring Partners</h1>
  <form>
    <legend>Search</legend>
    <div class='col-xs-4'>
      <input class='form-control' name='keyword' placeholder='Keyword' type='text' value='<%= params[:keyword] %>'>
    </div>
  </form><br>

<% if current_user.admin?%>
<%= link_to 'Add New Company', new_company_path %>
<%end%>
<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>Company Name</th>
      <th># Wyncoders <br>Working <br>There</th>
      <th>City</th>
      <th>State</th>
      <th>Website</th>
      <th>Hp</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to company.name, company %></td>
        <td><%= link_to company.employments.where(current: true).count, user_index_path(company: company.id) %>
        <td><%= company.city %></td>
        <td><%= company.state %></td>
        <td><%= company.website %></td>
        <td><%= "yes" if company.hp? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
