<p id="notice"><%= notice %></p>


<h1>Hiring Partners</h1>

<p>
  <form>
    <legend>Search</legend>
    <div class='col-xs-4'>
      <input class='form-control' name='keyword' placeholder='Keyword' type='text' value='<%= params[:keyword] %>'>
    </div>
  </form>
</p>

<div class="com-list">
    <% @companies.each do |company| %>
    <div class="com-indv">
        <%= link_to company.name, company, class: 'com-name' %>
          <% if company.hp == true %>
            <%= " (Hiring Partner)" %>
          <% end %>
        <p><%= company.street1 %></p>
        <p><%= company.street2 %></p>
        <p><%= company.city %>
        <%= company.state %>
        <%= company.zip %></p>
        <p><%= company.description %></p>
        <p><%= if company.website.class == String
          link_to company.website, "http://#{company.website}"
        else
        end

        #link_to company.website, "http://#{company.website}"
        %></p>
        <div class="com-admin">
        <% if current_user.admin? %>
        <%= company.contact_first %>
        <%= company.contact_last %>
        <%= company.contact_email %>
        <%= company.contact_phone %>
        <%= company.note %>
        <%= link_to 'Edit', edit_company_path(company) %>
        <%= link_to 'delete', company, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%# end %>
        <% end %>
      </div>
      </div>
        <% end %>
</div>



<br>

<%= will_paginate %>

<%= link_to 'New Company', new_company_path %>
