<% provide(:title, @company.name) %>
<p id="notice"><%= notice %></p>
<h1>
  <%= @company.name %>
</h1>

  <% if current_user.admin? %>
  <%= button_to "Edit this company", edit_company_path(@company), :class => "menu-btn", :method => :get%>
  <%= button_to 'Delete Company', company_path(@company), :class => "menu-btn", method: :delete, data: { confirm: 'Are you sure you want to delete this position?' }  %>
  <%end%>
</div>
<div class="company">
<div class="com-left">
  <p>Name: <%= @company.name %>
  </p>
  <p>Address: <%= "#{@company.street1} #{@company.street2}" %>
  </p>
  <p>
  City: <%= @company.city %><span></span>
  State: <%= @company.state %><span></span>
   Zip: <%= @company.zip %>
</p>
  <p>Description: <%= @company.description %>
</p>
  <p>Website: <%= @company.website %>
</p>
  <p>Hiring partner?: <%= @company.hp %>
  </p>
  <p>company Type <%= @company.orgtype %>
  </div>
  <% if current_user.admin? %>
  <div class="com-right">
  <p>Contact Name: <%= "#{@company.contact_first} #{@company.contact_last}" %>
  </p>
  <p>Contact Number: <%= @company.contact_phone %>
  </p>
  <p>Contact Email: <%= @company.contact_email %>
  </p>
  <p class="note-input">Note: <%= @company.note %></p>
  </div>
<% end %>



</div>
