<% company_name = @company.name %>
<% provide(:title, company_name) %>
<p id="notice"><%= notice %></p>
<div class="dash-menu">
  <%= button_to "Home", root_path, :class => "menu-btn", :method => :get%>
  <%= button_to "Edit this company", edit_company_path(@company), :class => "menu-btn", :method => :get%>
  <%= button_to "All WynAlums", user_index_path, :class => "menu-btn", :method => :get%>
  <%= button_to "Back to all Cohorts", cohort_index_path, :class => "menu-btn", :method => :get%>
  <%= button_to "Employers", companies_path, :class => "menu-btn", :method => :get%><br>
</div>

<h1>
  <%= @company.name %>
</h1>
<div class="com-stat">
    <strong>Name:</strong>
    <%= @company.name %>
    <br>
    <strong>Address:</strong>
    <%= "#{@company.street1} #{@company.street2}" %>
    <br>
    <div class="inline"></div>
    <strong>City:</strong>
    <%= @company.city %>
    <strong>State:</strong>
    <%= @company.state %>
     <strong>Zip:</strong>
    <%= @company.zip %>
    </div>
    </div>
<div class="com-type">
  <strong>Description:</strong>
  <%= @company.description %>
<br>
  <strong>Website:</strong>
  <%= @company.website %>
<br>
  <strong>Hiring partner?:</strong>
  <%= @company.hp %>
  <br>
  <strong>company Type</strong>
  <%= @company.orgtype %>
  </div>

  <div class="com-contact">
  <strong>Contact Name:</strong>
  <%= "#{@company.contact_first} #{@company.contact_last}" %>
  <br>
  <strong>Contact Number:</strong>
  <%= @company.contact_phone %>
  <br>
  <strong>Contact Email:</strong>
  <%= @company.contact_email %>
  <br>
  <strong>Note:</strong>
  <%= @company.note %>
  </div>

<% if current_user.admin? %>
<%= link_to 'Edit', edit_company_path(@company) %>
<%= link_to 'delete', @company, method: :delete, data: { confirm: 'Are you sure?' } %>

<%end %>
<%= link_to 'Back', companies_path %>
