<h1>Edit A Position</h1>
<p>Use this form to correct any details</p>

<%= form_tag("/employment/update") do %>

  <div class="field">
    <%= label_tag(:employment_to_edit_company_id, "Company") %>
    <%= collection_select(:employment_to_edit, :company_id, @companies, :id, :name) %>
  </div>

  <div class="field">
    <%= label_tag(:employment_to_edit_jobtitle, "Job Title") %>
    <%= text_field(:employment_to_edit_, :jobtitle) %>
  </div>

  <div class="field">
    <%= label_tag(:employment_to_edit_roletype, "Type of Role (Developer or Non-Technical)") %>
    <%= text_field(:employment_to_edit, :roletype) %>
  </div>

  <div class="field">
    <%= label_tag(:employment_to_edit_rolenature, "Full Time, Part Time, Intern Etc") %>
    <%= text_field(:employment_to_edit, :rolenature) %>
  </div>

  <div class="field">
    <%= label_tag(:employment_to_edit_rolesource, "How did you find this job?") %>
    <%= text_field(:employment_to_edit, :rolesource) %>
  </div>

  <div class="field">
    <%= label_tag(:employment_to_edit_salary, "Salary") %>
    <%= text_field(:employment_to_edit, :salary) %>
  </div>

  <div class="field">
    <%= label_tag(:employment_to_edit_start_date, "Start Date") %>
    <%= date_field(:employment_to_edit, :start_date) %>
  </div>

  <div class="field">
    <%= label_tag(:employment_to_edit_end_date, "End Date") %>
    <%= date_field(:employment_to_edit, :end_date) %>
  </div>

  <div class="field">
    <%= radio_button(:employment_to_edit, :current, true ) %>
    <%= label_tag(:employment_to_edit_current_true, "Current position") %>

    <%= radio_button(:employment_to_edit, :current, false) %>
    <%= label_tag(:employment_to_edit_current_false, "Not a current position") %>
  </div>

  <div class="actions">
    <%= submit_tag("Update") %>
  </div>

<% end %>
