<h1>Add A Position</h1>

<%= form_tag("/employment/create") do %>

<%= hidden_field_tag("new_employment[user_id]", @user_id) %>


  <div class="field">
    <%= label_tag(:new_employment_company_id, "Company") %>
    <%= collection_select(:new_employment, :company_id, @companies, :id, :name, prompt: true) %>
  </div>

  <div class="field">
    <%= label_tag(:new_employment_jobtitle, "Job Title") %>
    <%= text_field(:new_employment, :jobtitle) %>
  </div>

  <div class="field">
    <%= label_tag(:new_employment_roletype, "Type of Role (Developer or Non-Technical)") %>
    <%= text_field(:new_employment, :roletype) %>
  </div>

  <div class="field">
    <%= label_tag(:new_employment_rolenature, "Full Time, Part Time, Intern Etc") %>
    <%= text_field(:new_employment, :rolenature) %>
  </div>

  <div class="field">
    <%= label_tag(:new_employment_rolesource, "How did you find this job?") %>
    <%= text_field(:new_employment, :rolesource) %>
  </div>

  <div class="field">
    <%= label_tag(:new_employment_salary, "Salary") %>
    <%= text_field(:new_employment, :salary) %>
  </div>

  <div class="field">
    <%= label_tag(:new_employment_start_date, "Start Date") %>
    <%= date_field(:new_employment, :start_date) %>
  </div>

  <div class="field">
    <%= label_tag(:new_employment_end_date, "End Date") %>
    <%= date_field(:new_employment, :end_date) %>
  </div>

  <div class="field">
    <%= radio_button(:new_employment, :current, true ) %>
    <%= label_tag(:new_employment_current_true, "Current position") %>

    <%= radio_button(:new_employment, :current, false) %>
    <%= label_tag(:new_employment_current_false, "Not a current position") %>
  </div>

  <div class="actions">
    <%= submit_tag("Create") %>
  </div>

<% end %>
