Cohort: <%= @cohort.name %><Br>
Location: <%= @cohort.location %><br>
Graduation Date: <%= @cohort.graddate %><br><br>

*****
Cohort Employment stats need to go here
****


</header>

<ul>
<% @cohort.users.each do |student| %>
  <li><%= link_to "#{student.fname + " " + student.lname}", user_path(student.id) %></li>
<% end %>
</ul>

<% if current_user.admin? %>
<%= link_to 'Edit Cohort Details', edit_cohort_path(@cohort) %>
<% end %>
<%= link_to 'Back', cohort_index_path %>
